/****** PLACE YOUR CUSTOM STYLES HERE ******/
.pricing-table .price {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 21px;
    font-weight: 300;
    color: #292929;
    display: inline-block;
    margin-bottom: 0px;
	}
	
.pricing-table {
    padding: 24px 12px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

.button-tabs.vertical > .content {
    padding-left: 3%;
    max-width: 70%;
    float: left;
}

.logo{ max-height: 100%; }

nav.transparent .nav-bar {
    border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}

nav.transparent .module.widget-handle {
    border-left: 0px solid rgba(255, 255, 255, 0.2) !important;
}

/*.nav-bar{ height: 100px; max-height: 100px; line-height: (-97)px; }*/