

body{
	font-family: 'Dosis', sans-serif;
}

p{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Dosis', sans-serif;
}

/*Header*/

.navbar-default .navbar-nav>li>a {
color: #777;
text-transform: uppercase;



}
@media screen and (max-width: 390px) and (min-width: 320px){
	.scroll_down{
		margin-left:87px;
		
	}
	
}

@media screen and (max-width: 451px) and (min-width: 391px){
	.scroll_down{
		margin-left:120px;
		
	}
}
	

	@media screen and (max-width: 510px) and (min-width: 452px){
	.scroll_down{
		margin-left:146px;
		
	}
	
}

  @media screen and (max-width: 560px) and (min-width: 511px){
	.scroll_down{
		margin-left:186px;
		
	}
	
}

 @media screen and (max-width: 710px) and (min-width: 561px){
	.scroll_down{
		margin-left:268px;
		
	}
	
}

 @media screen and (max-width: 810px) and (min-width: 711px){
	.scroll_down{
		margin-left:309px;
		
	}
	
}

 @media screen and (max-width: 903px) and (min-width: 811px){
	.scroll_down{
		margin-left:329px;
		
	}
	
}

@media screen and (max-width:991px) and (min-width: 904px){
	.scroll_down{
		margin-left:390px;
		
	}
	
}






.navbar-default .navbar-nav>li>a:hover{
	color: #016232;
   
   
}

.tha{
	background: url(../images/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    padding-top:10%;
	width:101%;
}


.home_text{
	padding-top: 210px;
	padding-bottom: 210px;
}
.home_text h2{
	color: #ffffff;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 10px;
}
.home_text p{
	color: #e9e9e9;
	font-size: 20px;
	text-transform: uppercase;
}
.home_text img{}
.scroll_down{
	padding-bottom: 50px;
	
}
.scroll_down h4{
	font-size: 12px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}


/*Services*/
.services{
	padding-top: 96px;

}
.services .container{
	border-bottom: 1px solid #ddd;
}
.single_service{
	padding-bottom: 96px;
}
.single_service i{
	font-size: 25px;
	color: #f73b56;
}
.single_service h2{
	color: #000000;
	font-size: 25px;
	text-transform: uppercase;
}
.single_service p{
	color: #404040;
	font-size: 14px;
}

.about_us_p{
	font-size: 14px;
	color: #272727;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 28px;
    
}
.about_title h2{
	font-size: 25px;
	color: #3d3d3d;
	text-transform: uppercase;
	margin-top: 85px;
	letter-spacing: 6px;
	margin-bottom: 21px;
}
.about_title img{
	margin-bottom: 70px;
}
/*Testimonial*/
.testimonial{
		padding-top: 130px;
	padding-bottom: 80px;
}






.left h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.left p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #000;
}
.left2 h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}
.left2 p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #ededed;
}
.row1
{
	margin-left:-30px;
}
.baton{
	margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
	color: #fff;
	background-color: #008544;
	border-radius: 0px;

	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
.cs-btn:hover{
	background: #0d6531;
	
}

.baton1{
	margin-top: 65px;
}
.cs-btn1, .cs-btn1:active, .cs-btn1:visited, .cs-btn1:focus{
	color: #000;
	background-color: #ffffff;
	border-radius: 0px;

	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
@media screen and (max-width:360px) and (min-width:320px){
	.cs-btn1{
		padding: 10px 9px;
		
	}
}



.cs-btn1:hover{
	background-color: #ececec;
	color: #000;
}

.call_to_action 
{
	padding-top: 5%;
	
}
.call_to_action .container{
	padding-bottom: 60px;
	padding-left: 60px;
	border-bottom: 1px solid #ddd;
	background-color: #008544;
	width:100%
}

/*Contact*/









/*Footer*/
footer{
	background-color: #f1f1f1;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer_logo{}
.footer_logo img{}
.social{
	padding-top: 65px;
}
.social h2{
text-transform: uppercase;
font-size: 16px;	
}
ul.icon_list{
margin: 0;
padding: 0;
list-style: none;
text-align: center;
margin-top: 20px;
}
ul.icon_list li{
display: inline;
padding-left: 3px;
padding-right: 3px;
}

.right
{
padding-top: 155px;
padding-left: -130px;
width:100%;
text-align:center;

}

.right1
{
padding-TOP: 0px;
padding-left: 160px;
width:100%;
text-align:center;

}
.right2
{
padding-TOP: 55px;
padding-left: 60px;

}
ul.icon_list li a{
display: inline-block;
color: #636363;
border: 1px solid #636363;
border-radius: 50%;
text-align: center;
width: 30px;
height: 30px;
text-align: center;
line-height: 28px;
transition: all 1s;
}
ul.icon_list li a:hover{
	color: #f73b56;
	border-color:#f73b56; 
}
.copyright_text{
padding-top: 120px;	
}
.copyright_text p{
color: #636363;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 0px;
letter-spacing: 0px;
}
.copyright_text a{
	color:#f73b56;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	}
    
  
.navbar-brand
{
  margin-top:0;
    
}
.row-centered{

	text-align: center;
}
.col-centered{
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;
}
.first-top
	{
		margin-top: 10%;
	}
	.last-bottom
	{
		margin-bottom: 10%;
	}
@media only screen and (max-width: 768px) {
    .product-image {width:100%}
    .right1{padding-left: 0px;}
    .right{padding-top: 0px;}
	.tha {
		width:104%;
		height: auto;
    background-position: center center;
    background-attachment: fixed;
	}
	.first-top
	{
		margin-top: 35%;
	}
	.last-bottom
	{
		margin-bottom: 10%;
	}
}
.highlight{
box-shadow: inset 0 0 0 3px #2d3e50; 
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus .cs-btn:hover{
	    background-color: #008544 !important;
	
}
.btn-primary{
	    border-color: transparent !important;
}