.container
{
  	/*padding-top: 5%;*/
 	padding-bottom: 25%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

   

}
.button {
    background-color: #008544; /* Green */
    border: none;
    color: white;
    padding: 20px 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.arr
{
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 20px;
   padding-top: 5%;
   text-align: center;
   max-width: 440px;
   margin: 0 auto;
   text-align: left;

}
.bn{
	padding-top: 5%;
    text-align: center;
    max-width: 440px;
    margin: 0 auto;

}
.logo{
    padding-top: 3%;
    padding-left: 6%;
    margin-right: 10px;

}

.l {

	padding-top: 3%;
    padding-left: 45%;
    margin-right: 20px;


}
